.answerButton {
      position: relative;
      max-width: 405px;
      min-width: 310px;
      height: 72px;
      border: none;
      background: transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start; 
    }
    
    .answerButton:hover:not([disabled]) svg path {
      stroke: #ff8b37;
    }
    
    .label {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    
    .letter {
      color: #ff8b37;
      font-weight: 600;
      font-size: 14px;
      position: absolute;
      left: 50px;
    }
    
    .answerText {
      color: #1C1C21;
      font-weight: 400;
      font-size: 14px;
      position: absolute;
      left: 70px;
    }
    